/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 12, 2017, 2:10:11 PM
    Author     : Hasanov
*/

.account-block .dropdown-menu li a {
    color: #333;
    padding-left: 20px;
}

.btn-add-contact,
.btn-add-subject,
.btn-edit-course-details,
.btn-add-course-student-contact,
.btn-add-course-student-subject,
.add-questions{
    cursor: pointer;
}

.grid-item , .grid-sizer{ width: 50%; }

.contact-list a,
.subject-list a {
    font-size: 11px;
}

.btn-change-logo {
    margin-top: 10px;
}

.img-course-list-logo {
    width: 100%;
    height: 120px;
}

.student-search-form input,
.student-search-form select {
    width: 100%;
    border: 1px solid lightgray;
    padding: 2px 10px;
}

.student-search-form .filter-group {
    margin-left: 0px;
}

.student-search-block {
    margin-top: 10px;
}

.send-request, .approwe-student {
    margin-top: -5px
}

.student-list-block-name {
    height: 80px;
    overflow-y: hidden;
}

.remove-application, .info-application, .edit-question, .remove-question , .remove-bank, .edit-bank, .view-bank, .share-bank{
    margin-right: 5px;
    cursor: pointer;
}

#main-container {
    min-height: 600px;
}

.student-info-table {
    margin-top: 30px;
}
.question-textarea {
    height: 180px !important;
}

.answer-input {
    width: 540px;
}

.show-question {
    border: 1px solid lightgray;
/*    white-space: pre-line;
    overflow: hidden;
    overflow-x: scroll*/
padding: 10px;
margin-top: 10px;
    
}
.show-question img{
    max-width: 100%;
}

.names {
    color: maroon !important;
}

.questions-form .col-xs-4:first-child{
    padding-right: 5px;
}
.questions-form .col-xs-4:nth-child(2){
    padding-right: 5px;
    padding-left: 5px;
}
.questions-form .col-xs-4:last-child{
    padding-left: 5px;
}

.question-modal-content {
    width: 1200px !important;
}

.filter-question , .filter-bank, .bank-question-element {
    height: 34px;
    margin-left: 20px;
    width: 200px;
}

.list-group-question {
     margin-bottom: -5px !important;
}

.add-bank-detail-hour {
    height: 34px;
    margin-left: 20px;
    width: 80px;
     text-align: center;
}
.add-bank-detail-minute {
    height: 34px;
    margin-left: 12px;
    width: 80px;
     text-align: center;
}
.bank-time-label {
    margin-left: 18px;
}

.back-count {
    font-size: 70px;
    margin-left: -10px;
    margin-top: 28px;
}

.checked-image, .unchecked-image {
    width: 90px;
}
.product-col{
    -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
.product-col.check-question{
        -webkit-box-shadow: 0 0 5px 0 #6B6B6B;
    box-shadow: 0px 5px 20px 0 #6B6B6B;
    border: 4px solid #003f7f;
}
.exam-page #footer-area{
    display: none
}
.question-links{
    margin-bottom: 20px;
}
.question-links a{
    display: inline-block;
    width: 20%;
    text-align: center;
    height: 44px;
    vertical-align: top;
}
.question-links a span.question-num{
    display: block
}
.left-con{
    background: #fff;
    padding: 10px 0;
      margin: 20px 0;
      
}
.exam-buttons{
    padding: 0 10px;
}
.right-con{
    background: #fff;
    padding: 0 10px;
    margin: 20px 0;
}
.answers {
    /*text-align: center;*/
}
.answers .answer{
    margin-bottom: 10px;
}
.question_block h3{
    margin-top: 0;
}
.question_block .show-question{
    margin-bottom: 20px;
}
.answers .answer span, .answers .answer input{
    margin-right: 5px;
}
.answer input{
   vertical-align: sub;
}
.count-down-con{
  padding: 20px 5px;
  background: #fff;
  width: 100%;
  margin: 20px 0 35px;
  display: inline-block;
  font-size: 45px;
  font-weight: 700;
  text-shadow: 0px 0px 10px black;
  text-align: center;
  color: #fff;

}
#clock{

}

.input-file-con{
    position: relative;
    width: 100%;
    height: 285px; 
    cursor: pointer;
    margin: 0 auto;
    overflow: hidden;
}
.input-file-con img{
  height: 100%;
}
.fake-input{
    border: 1px dashed #ddd;
    background: #fafafa;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    line-height: 261px;
    font-size: 225px;  
    color: #ddd;
    text-align: center;
    background-size: cover;
}
.input-file-con input{
    opacity: 0;
    display: block;
    width: 100%;
    height: 172px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    margin-top: -22px;
}
.new-img-con{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    z-index: 1;
    display: none;
    -webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}
#image {
    max-width: 100%; 
}
.remove-img{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 20px;
    color: #b7473b;
    cursor: pointer;
    z-index: 58;
    display: none;
}
.input-file-con:hover .new-img-con{
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

#service_list .edit-service, #service_list .remove-service{
        margin-left: 6px;
        cursor: pointer;
}

#event_list .edit-event, #event_list .remove-event{
        margin-left: 6px;
        cursor: pointer;
}

#promotation_list .edit-promotation, #promotation_list .remove-promotation{
        margin-left: 6px;
        cursor: pointer;
}

#product_list .edit-product, #product_list .remove-product{
        margin-left: 6px;
        cursor: pointer;
}

#user_group_list .remove-user-group, #user_group_list .edit-user-group{
        margin-left: 6px;
        cursor: pointer;
}

#corporative_list .view-corporative{
        margin-left: 6px;
        cursor: pointer;
}
.product-image-view{
    width: 80px;
    height: 80px;
    margin-left: 5px;
}
.image-div {
    float:left;
    height: 108px;
}
.remove-image-btn{
    /*margin-top: -79px;*/
    position: absolute;
    margin-left: -16px;
    color: red;
    cursor: pointer;
}
#dictinary_list i, #user_list i, #contact_list i{
    margin-left: 6px;
    cursor: pointer;
}
.add-contact {
        margin-top: -27px;
    margin-right: 20px;
    cursor: pointer;
}

.download-cv {
    position: absolute;
    margin-top: 13%;
    margin-left: -8%;
    font-size: 25px;
}